@page "/"
@inject NavigationManager NavigationManager
@inject IDealService ideal;



<div class="imgContainer">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div>
                    <h1>NOW <span>SELLING</span> TO THE PUBLIC!</h1>
                    <p>
                        Purchasing from Reicherts Distributing company ensures that you receive high-quality, fresh meat products that have undergone rigorous quality control standards. Moreover, buying from these companies supports local businesses, contributing to the growth and sustainability of the community.
                    </p>
                </div>
            </div>
        </div>
            @if (currentDeal != null)
            {
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 position-relative">
                            <div>
                                <h1>Deal Of The Week</h1><br/>
                                <div>
                                    <h2>@currentDeal.Name</h2><br/>
                                    <p>@currentDeal.Description</p><br/>
                                    <p>@currentDeal.Price</p>
                                </div>
                        @if (deals.Count > 1) 
                        {
                            <div class="position-absolute top-50 start-0 translate-middle-y">
                                <button class="btn btn-arrow shadow-none" onclick="@PreviousSlideHandler">&#8249;</button>
                            </div>
                            <div class="position-absolute top-50 end-0 translate-middle-y">
                                <button class="btn btn-arrow shadow-none" onclick="@NextSlideHandler">&#8250;</button>
                            </div>
                        }
                    </div>
                    </div>
                </div>
            }
    </div>
</div>


<div class="container">
    <h1 class="text-center">We Proudly Serve</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card border-0">
                <img src="/Pictures/Bar.jpg" width="300" height="200" class="card-img-top" style="object-fit: cover;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Bars</h5>
                    <p class="card-text">We offer a wide range of products for bars, including breaded mozzarella sticks, jalapeno poppers, ground beef patties, chicken breast, deli ham, cocktail smokies, salad dressings, energy drinks, and more.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card border-0">
                <img src="/Pictures/Restaurant.jpg" width="300" height="200" class="card-img-top" style="object-fit: cover;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Restaurants</h5>
                    <p class="card-text">We offer a wide range of products for restaurants, including breaded appetizers, frozen meats, shredded cheeses, dressings, sauces, and breakfast items, as well as cleaning supplies and disposables.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card border-0">
                <img src="/Pictures/BurgerBar.jpg" width="300" height="200" class="card-img-top" style="object-fit: cover;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Burger Bars</h5>
                    <p class="card-text">We offer a wide range of products for burger bars, including beef strips, chicken fillets, various cheeses, toppings, dressings, and condiments, along with a variety of packaging and cleaning supplies.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-4 mb-3 pt-lg-5">
                <div class="card border-0">
                    <img src="/Pictures/Coffee.jpg" width="300" height="200" class="card-img-top" style="object-fit: cover;" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Coffee Shops</h5>
                        <p class="card-text">
                            In an espresso shop, customers can enjoy the perfect cup of espresso with 2% milk, Hershey's chocolate syrup, Ghirardelli white chocolate, whipped topping and more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 pt-lg-5">
                <div class="card border-0">
                    <img src="/Pictures/ConvenienceStore.jpg" width="300" height="200" class="card-img-top" style="object-fit: cover;" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Convenience Stores</h5>
                        <p class="card-text">We have a range of convenience store items like mozzarella sticks, jalapeno poppers, chicken tenders, breakfast sandwiches, sausage patties, corn dogs, and snack burritos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center">And <a href="/Products">More...</a></h1>
</div>


