@page "/Products"
<div style="display: flex;">
    <div style="width: 200px; margin-right: 20px;">
        <h3>Filters</h3>
        <form>
            <input type="text" @bind="@search" placeholder="Search by name" />
            <select value="@pageSize" @onchange="OnPageSizeChange">
                <option value="10">10 products</option>
                <option value="20">20 products</option>
                <option value="50">50 products</option>
            </select>
            <select title="Business Category">
                <option value="0">All</option>
                <option value="1">Bars</option>
                <option value="2">Restaurants</option>
                <option value="3">Burger Bars</option>
                <option value="4">Coffee Shops</option>
                <option value="5">Convenience Stores</option>
            </select>
            <button type="button" @onclick="ApplyFilters">Apply Filters</button>
        </form>
    </div>

    <div>
        <h3>Products</h3>

        <table>
            <tr>
                <th>Item ID</th>
                <th>Stocking UM</th>
                <th>Item Description</th>
            </tr>
            @foreach (var item in FilteredProductItems)
            {
                <tr>
                    <td>@item.ItemID</td>
                    <td>@item.StockingUM</td>
                    <td>@item.ItemDescription</td>
                </tr>
            }
        </table>

        @if (Page > 1)
        {
            <button @onclick="LoadPreviousPage">Previous</button>
        }

        @if (ShowNextButton)
        {
            <button @onclick="LoadNextPage">Next</button>
        }
    </div>
</div>
